@import "fonts.css";

:root {
  --background_color_one: #ffffff;
  --background_color_two: #f2f2f2;
  --primary: #ff7062;
  --border_color: #d6d7d8;
  --text_color_one: #5c6163;
  --text_color_two: #24282a;
  --text_color_three: #939fa4;
  --text_color_four: #A7B0B4;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background_color_two);
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  background-color: var(--background_color_one);
  min-height: 10rem;
  border-left: 1px solid var(--border_color);
  border-right: 1px solid var(--border_color);
  box-sizing: border-box;
}
.inner {
  width: 100%;
  max-width: 73.125rem;
  margin: 0 auto;
  height: inherit;
}
.inner h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 0 0 5.625rem 0;
  color: var(--text_color_three);
}
.best_offers .inner h1 {
  text-align: left;
  margin: 0 0 5rem 0;
}
.inner_padding {
  padding: 6.875rem 0;
}
.inner h1 strong {
  color: var(--text_color_two);
  font-weight: 700;
}
.top-header {
  background-color: var(--background_color_two);
  min-height: 3.125rem;
}

.popular_destinations {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 3.125rem;
}

.popular_destinations a {
  font-weight: 500;
  margin-left: 1.875rem;
}

.popular_destinations div {
  color: var(--text_color_one);
}
a {
  text-decoration: none;
  color: var(--primary);
}

.header {
  height: 6.25rem;
  background-color: var(--background_color_one);
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--text_color_three);
}

.logo span {
  font-weight: 700;
  color: var(--text_color_two);
}
.page_menu a {
  color: var(--text_color_one);
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.625rem;
  margin: 0.9375rem;
}
.page_menu a.active,
.page_menu a:hover {
  background: var(--primary);
  color: var(--background_color_one);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.phone {
  font-size: 0.87rem;
  font-weight: 500;
  color: var(--primary);
  display: flex;
  align-content: center;
}

.phone span {
  margin-left: 0.5rem;
}

.hero_header {
  height: 43.75rem;
  background-image: url("../assets/img/heroimage.webp");
  background-size: cover;
  text-align: center;
}

.hero_header_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub_head_line {
  color: var(--background_color_one);
  font-size: 1.25rem;
  margin-bottom: 3.75rem;
}
a.button {
  color: var(--background_color_one);
  font-weight: 500;
  padding: 0 2.5rem;
  line-height: 3.75rem;

  background: linear-gradient(199.55deg, #fdd6bd 0%, #f794a4 100%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  display: inline-block;
}

.tour_categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.875rem 1.875rem;
}
.tour_categories > div {
  position: relative;
}
.rome {
  grid-column: 1 / span 2;
}

.tour_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.78rem;
}
a.button2 {
  background-color: var(--primary);
  color: var(--background_color_one);
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.675rem;
  margin-bottom: 1rem;
  display: inline-block;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.tour_text {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--background_color_one);
}
.best_offers {
  background-color: var(--background_color_two);
}

.best_offers_title{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.best_offers_row {
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  align-items: center;
  font-size: 0.8rem;
  color: var(--text_color_four);
}

.best_offers_row strong{
  color: var(--text_color_two);
  font-size: 1rem;
  font-weight: 500;

}
.best_offers_row img {
  margin-left: -1.25rem;
}

.best_offers_row:nth-child(even) {
  background: var(--background_color_one);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.best_offers_row:nth-child(even) img {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}